.infoTitle {
  font-size: 18px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 0px;
}

.infoSubtitle {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.541176);
  margin: 10px 30px;
}

.navButtonStyles {
  opacity: 0.5;
  background: #fff;
  width: 10%;
  transition: background-color 0.2s ease;
}

.navButtonStylesDisabled {
  opacity: 0.2;
  background: #fff;
  width: 10%;
}


.navButtonStyles:hover {
  opacity: 1.0;
  background: #eee;
  transition: all 0.2s ease;
  cursor: pointer;
}

.fadeIn {
  animation: fade 0.3s ease;
}

@keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.submitting {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9001;
  display: flex;
}

.main {
  margin: 20px;
  padding: 40px;
  max-width: 800px;
  position: relative;
}

.sideLines {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin: 60px 0px 0px;
  line-height: 0;
}

.sideLines:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

.sideLines span {
  line-height: 1;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176);
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 7px 0 7px;
}

