.infoTitle {
  font-size: 18px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 0px;
}

.infoSubtitle {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.541176);
  margin: 10px 30px;
}

.navButtonStyles {
  opacity: 0.5;
  background: #fff;
  width: 10%;
  transition: background-color 0.2s ease;
}

.navButtonStylesDisabled {
  opacity: 0.2;
  background: #fff;
  width: 10%;
}


.navButtonStyles:hover {
  opacity: 1.0;
  background: #eee;
  transition: all 0.2s ease;
  cursor: pointer;
}

.fadeIn {
  animation: fade 0.3s ease;
}

@keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.submitting {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9001;
  display: flex;
}

.main {
  margin: 20px;
  padding: 40px;
  max-width: 800px;
  position: relative;
}
