.main {
  margin: 20px;
  width: 250px;
  height: 250px;
}

.main:hover {
  margin: 15px;
  width: 260px;
  height: 260px;
  background-color: black;
}

.tileTitle {
  font-size: 18px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 5px 0px;
}

.tileSubtitle {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.541176);
  margin: 10px 30px;
}

.outerSpinner{
  margin: 20px;
}

.innerSpinner {
  padding: 20px;
}

.configField {
  font-size: 14px;
  position: relative;
  color: rgba(0, 0, 0, 0.541176);
}

.error {
  margin-top: 15px;
  color: white;
  background: rgb(244, 67, 54);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}
